<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Emo-Dance</title>
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="node_modules/bulma/css/bulma.css">
  <link rel="stylesheet" href="Animation.css">
</head>

<body>
    <div class="top tile is-vertical">
            <h1 class="title  is-1 animated infinite pulse delay-5s" id="title">Emo-Dance</h1>
    </div>
    <div class="middle">
        <p class="is-large">Welcome to <span class="title is-4">Emo-Dance</span>,<br>
        a fun application using <strong>Google Vision</strong> where the user must make the emojis that appear with their face!</p>
        <div class="booth">
          <video id="video" class="capture"></video>
          <br>
          <a href="#" id="capture" class="booth-capture-button">Take photo</a>
        </br>
          <canvas id="canvas" class="capture"></canvas>
        </br>
          <img id="photo" src="http://placekitten.com/g/400/300" alt="Photo of you">
        </div>
    </div>
    <div class="bottom">
        <h3 class="title is-3 animated infinite pulse delay-2s">Meet the Developers</h3>
        <ul class="inline-flex-mobile">
            <li> <div class="developer">   <a href="https://github.com/arnoldlperez"><span class="name aanimated infinite bounce delay-2s">Arnold Perez</span></br><figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                  </figure></a></div></li>
                  <li> <div class="developer">   <a href=""><span class="name animated bounce">Calvin Chan</span></br><figure class="image is-128x128">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png"></figure></a>
                      </figure></div></li>
                      <li> <div class="developer tile">   <a href="https://github.com/NortonAntiviral"><span class="name animated bounce">Chris Norton</span></br><figure class="image is-128x128">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                          </figure></a></div></li>
            <a href=""></a>
        </ul>
    </div>
    <script src="photo.js"></script>
</body>

</html>
