body{background:black;
body{
    background:black;
    max-height: 100%;
    padding 20px;}
    padding: 20px;
}
    
    .back{
        background:black !important;
        
    }
    p{
        font-size: 30px;
        
    }
    #pix{
        border: lightgray solid 2px;
    }
    #title{
        color: whitesmoke;
        text-shadow: 4px 3px 0 #7A7A7A;
        background-color: darkolivegreen !important;
        border-radius: 40px;
    }
    .bottom{
        padding:3em;
    }
    .tile{
        text-align: center;
        
    }
    img{
        width: 20%;
    }
    #video,#canvas{
        padding: 20px 20px 0 2px;
        border-radius: 50%;
    }
    #photo{
        padding:20px ;
    }
    .booth{
        padding-top: 3vh !important;
    }
    .middle{
        height: 40em;
        height: 50em;
    }
    body {
        font-family: 'Exo', sans-serif;
        font-size: 20px; 
    }
    h1 {
        text-align: center;
    }
    p{
        text-align: center;
        color: lightgray;
    }
    .title{
        
        font-weight: 900;
    }
    
    h3{
        text-align: center;
    }
    ul{
        text-align: center;
     
    }
     
    li {
        list-style-type: none;
        display: inline-block;
        
    }
    .developer{
        padding: 0 10vh 0 10vh;
        transition: transform 2s; /* Animation */
        border-radius: 50px;
        padding: 10px;
    }
    .developer:hover{
        transform: scale(1.5);
    
    }
    .name,.light{
        color: aquamarine !important;
    }
    
    
    .name:hover{
        animation: up-bump 0.4s ease;
    }
    a{
        text-decoration: none;
        font-size: 2rem;
        color: whitesmoke;
    }
    a:hover{
        cursor: pointer;
        color: palegreen;
    }
    